.principal {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

button {
    background-color: transparent;
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
}

img {
    vertical-align: sub;
}

.stats_recuadro{
    border-radius: 15px;
    border: 3px solid #005baa;
    padding: 0px;
    gap: 0px;
    width: 18.6vw;
    height: 31vh;
    color: white;
    max-width: 580px;
    max-height: 10vh;
}


.stats_grafico{
    border-radius: 15px;
    border: 2px solid #005baa;
    padding: 0px;
    gap: 0px;
    width: 69vw;
    height: 13vw;
    color: white;
    background-color: #f0f0f0;

    /* Crea las líneas horizontales y verticales que se repiten */
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 19px, #ccc 19px, #ccc 20px), /* Lineas horizontales */
        repeating-linear-gradient(90deg, transparent, transparent 19px, #ccc 19px, #ccc 20px); /* Lineas verticales */
}


.stats_grafico_dos{
    border-radius: 15px;
    border: 2px solid #005baa;
    padding: 0px;
    gap: 0px;
    width: 69vw;
    height: 30vw;
    color: white;
    background-color: #f0f0f0;

    /* Crea las líneas horizontales y verticales que se repiten */
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 19px, #ccc 19px, #ccc 20px), /* Lineas horizontales */
        repeating-linear-gradient(90deg, transparent, transparent 19px, #ccc 19px, #ccc 20px); /* Lineas verticales */
}