/*
.portada{
    margin: 6%;
    border-top: 0.5vh solid #ffc107;
    padding-left: 2%;
    gap: 1%;
}

.nombre-av {
    font-weight: 600;
    padding-top: 3%;
    gap: 1%;
}

.datos{
    margin: 6%;
    margin-top: -5%;
    border-top: 0.5vh solid #ffc107;
    gap: 4%;
    min-height: 14vh;
    padding: 2%;
}

.detalles{
    margin-top: 1.5%;
    margin-left: 2%;
    gap: 5vh;
}