.boton {
    color: white;
    border-radius: 10px;
    background-color: white;
    width: 35px;
    height: 35px;
    text-align: center;
}

.principal {
    font-size: 27px;
    color: black;
    font-weight: 600;
}

.descripcion-pre-formateada {
    white-space: collapse;
    padding-top: 4px;
    word-wrap: break-word; /* Ayuda a romper palabras muy largas si es necesario */
}

.bi::before {
  line-height: 0;
  font-size: 30px;
  padding-right: 2px;
}

[class^="bi-"]::before {
  line-height: 0;
  font-size: 35px;
}