.boton {
    border-radius: 10px;
    background-color: white;
    width: 35px;
    height: 35px;
    text-align: center;
}

.general {
    font-size: 32px;
    color: black;
    font-weight: 600;
}

.descripcion-pre-formateada {
    white-space: collapse;
    padding-top: 4px;
    word-wrap: break-word; /* Ayuda a romper palabras muy largas si es necesario */
}

.bi::before {
  line-height: 0;
  font-size: 30px;
  padding-right: 2px;
}

[class^="bi-"]::before {
  line-height: 0;
  font-size: 35px;
}

.btn-outline-success {
    --bs-btn-color: rgb(0, 192, 0);
    --bs-btn-hover-bg: rgb(0, 192, 0);
}

.btn-danger {
    --bs-btn-color: red;
    --bs-btn-hover-bg: red;
}